/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
a {
    text-decoration: none;
}

ul, 
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
} 

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    max-width: 1158px;
    padding-left: 15px; 
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1158px;
    margin: 0 auto;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav-list {
    display: flex;
    gap: 40px;
}


.header-address {
    display: flex;
    align-items: center;
}

.header-address-list {
    display: flex;
    gap: 41px;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-dark {
    color: #2e2f42;
}

.header-nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-nav-link:active {
    color: #404bbf;
}

.header-address {
    font-style: normal;
}

.header-address-list {
    gap: 40px;
}
.header-address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-address-link:hover,
.header-address-link:focus,
.header-address-link:active {
    color: #404bbf;
}

.hero {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url("../images/hero/people-office.jpg");
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e2f42;
    padding: 188px 0;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.hero-button {
    min-width: 169px;
    padding: 16px 32px;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus,
.hero-button:active {
    background-color: #404BBF;
}

.features {
    padding: 120px 0;
    min-width: 169px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    gap: 24px;
}
.features-item {
    width: calc((100% - 72px) / 4);
}
.features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: #FFFFFF;
    text-align: center;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.team-card {
    padding: 32px 0;
}
.team-name {
    text-align: center;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-text {
    text-align: center;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team-icon {
    width: 40px;
    height: 40px;
    border: 2px solid none;
    border-radius: 50%;
    background-color: #4d5ae5;
}

.portfolio {
    padding: 120px 0;
}


.portfolio-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
}

.portfolio-card {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    justify-content: space-between;
}

.portfolio-item {
    box-sizing: border-box;
    width: calc((100% - 48px) / 3);
}


.portfolio-caption {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-type {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    display: flex;
    flex-direction: row;
    padding: 100px 0;
    background-color: #2e2f42;
}

.footer .container {
    display: flex;
    gap: 120px;
}
.footer .logo {
    display: inline-block;
    margin-bottom: 16px;
}
.logo-light {
    color: #f4f4fd;
}

.footer-text {
    max-width: 264px;
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

.footer-social .title {
    line-height: 1.5;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-social {
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.footer-icon {
    width: 24;
    height: 24;
    fill: #F4F4FD;
    padding: 8px;
    background-color: #4d5ae5;
    display: inline-block;
}